{{if eq .Status "resolved"}}
✅💙RESOLVED UAT CLUSTER💙✅
------------------------------------------------------
Nội dung: {{.CommonAnnotations.summary}}
Nhóm Cảnh báo: {{ .CommonLabels.alertname }}
Máy Chủ: {{ .CommonLabels.instance }}
Status:  {{ .Status  | str_UpperCase}}
------------------------------------------------------
{{- range $val := .Alerts }}
RESOLVED SỰ CỐ: <code>{{ $val.StartsAt | str_FormatDate }}</code>
{{- end -}}
{{end -}}

{{if eq .Status "firing"}}
🚨🆘CẢNH BÁO UAT CLUSTER🆘🚨
------------------------------------------------------
Nội dung: {{.CommonAnnotations.summary}}
Nhóm Cảnh báo:  <b> {{ .CommonLabels.alertname }} </b>
Hệ thống: <b> {{ .CommonLabels.app_type | str_UpperCase }} </b>
Máy Chủ:  {{ .CommonLabels.instance }}
Thông tin:  {{.CommonAnnotations.description}}
Mức Độ:  <code> 🔥 {{ .CommonLabels.severity | str_UpperCase }} 🔥 </code>

------------------------------------------------------
{{- range $val := .Alerts }}
THỜI GIAN XẢY RA: <code>{{ $val.StartsAt | str_FormatDate }}</code>
{{- end -}}
{{end }}